body {
  background-color: gray;
  font-family: 'Raleway', sans-serif;
}

header {
  display: flex;
  background-color: #2C3D4F;
  border-bottom: 10px solid white;
  height: 120px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  color: turquoise;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  /*pick different header font*/
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
  margin: 10px 0 10px 0;
}

.status-text {
  color: #2C3D4F;
  margin: 10px 0 10px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vote,
#user-vote {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: turquoise;
  font-size: 1.5em;
  font-weight: 700;
}

.vote {
  font-family: 'Anton', sans-serif;
  font-size: 2em;
}

button {
  background-color: #2C3D4F;
  color: gray;
  border: none;
  border-radius: 5px;
  height: 60px;
  width: 60px;
  font-size: 40px;
}

button:hover {
  background-color: turquoise;
  border: 3px solid #2C3D4F;
  color: #2C3D4F;
}

.results {
  margin-bottom: 5px;
  margin-top: 5px;
  color: #2C3D4F;
  font-size: 1.5em;
  font-weight: 700;
}
